#line-top {
  transform-box: fill-box;
  transform-origin: center;
  animation: lineTopIn 42s ease-in-out infinite forwards;
}

@keyframes lineTopIn {
  0%,
  28.56% {
    transform: scaleX(1);
  }

  33.32% {
    transform: scaleX(1);
  }

  33.32%,
  38.08% {
    transform: scaleX(1);
  }

  42.84% {
    transform: scaleX(0);
  }

  42.84%,
  100% {
    transform: scaleX(0);
  }
}

#line-bottom {
  transform-box: fill-box;
  transform-origin: center;
  animation: lineBottomIn 42s ease-in-out infinite forwards;
}

@keyframes lineBottomIn {
  0%,
  28.56% {
    transform: scaleX(1);
  }

  33.32% {
    transform: scaleX(1);
  }

  33.32%,
  38.08% {
    transform: scaleX(1);
  }

  42.84% {
    transform: scaleX(0);
  }

  42.84%,
  100% {
    transform: scaleX(0);
  }
}

#left-bar {
  stroke-dasharray: 191.10877990722656px;
  stroke-dashoffset: 0px;
  animation: leftBarIn 42s ease-in-out infinite forwards;
}

@keyframes leftBarIn {
  0%,
  28.56% {
    stroke-dashoffset: 0px;
  }

  33.32% {
    stroke-dashoffset: 0px;
  }

  33.32%,
  38.08% {
    stroke-dashoffset: 0px;
  }

  42.84% {
    stroke-dashoffset: 191.10877990722656px;
  }

  42.84%,
  100% {
    stroke-dashoffset: 191.10877990722656px;
  }
}

#right-bar {
  stroke-dasharray: 191.10877990722656px;
  stroke-dashoffset: 0px;
  animation: rightBarIn 42s ease-in-out infinite forwards;
}

@keyframes rightBarIn {
  0%,
  28.56% {
    stroke-dashoffset: 0px;
  }

  33.32% {
    stroke-dashoffset: 0px;
  }

  33.32%,
  38.08% {
    stroke-dashoffset: 0px;
  }

  42.84% {
    stroke-dashoffset: 191.10877990722656px;
  }

  42.84%,
  100% {
    stroke-dashoffset: 191.10877990722656px;
  }
}

#right-dumbell {
  transform-box: fill-box;
  transform-origin: center;
  animation: rightDumbellIn 42s ease-in-out infinite forwards;
}

@keyframes rightDumbellIn {
  0%,
  28.56% {
    transform: scaleY(1);
  }

  33.32% {
    transform: scaleY(1);
  }

  33.32%,
  38.08% {
    transform: scaleY(1);
  }

  42.84% {
    transform: scaleY(0);
  }

  42.84%,
  100% {
    transform: scaleY(0);
  }
}

#left-dumbell {
  transform-box: fill-box;
  transform-origin: center;
  animation: leftDumbellIn 42s ease-in-out infinite forwards;
}

@keyframes leftDumbellIn {
  0%,
  28.56% {
    transform: scaleY(1);
  }

  33.32% {
    transform: scaleY(1);
  }

  33.32%,
  38.08% {
    transform: scaleY(1);
  }

  42.84% {
    transform: scaleY(0);
  }

  42.84%,
  100% {
    transform: scaleY(0);
  }
}

#dumbell {
  animation: dumbellBounceIn 42s infinite forwards;
}

@keyframes dumbellBounceIn {
  0%,
  28.56% {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
  }

  30.56% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }

  31.56% {
    opacity: 1;
    transform: translate3d(0, -4%, 0);
  }

  32.06% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }

  32.31% {
    opacity: 1;
    transform: translate3d(0, -2%, 0);
  }

  33% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }

  33.32% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }

  33.32%,
  38.08% {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }

  42.84% {
    opacity: 1;
  }

  42.84%,
  100% {
    opacity: 1;
  }
}

#left-bar {
  stroke-dasharray: 191.10877990722656px;
  stroke-dashoffset: 0px;
  animation: leftBarIn 42s ease-in-out infinite forwards;
}

@keyframes leftBarIn {
  0%,
  28.56% {
    stroke-dashoffset: 0px;
  }

  33.32% {
    stroke-dashoffset: 0px;
  }

  33.32%,
  38.08% {
    stroke-dashoffset: 0px;
  }

  42.84% {
    stroke-dashoffset: 191.10877990722656px;
  }

  42.84%,
  100% {
    stroke-dashoffset: 191.10877990722656px;
  }
}

#right-bar {
  stroke-dasharray: 191.10877990722656px;
  stroke-dashoffset: 0px;
  animation: rightBarIn 42s ease-in-out infinite forwards;
}

@keyframes rightBarIn {
  0%,
  28.56% {
    stroke-dashoffset: 0px;
  }

  33.32% {
    stroke-dashoffset: 0px;
  }

  33.32%,
  38.08% {
    stroke-dashoffset: 0px;
  }

  42.84% {
    stroke-dashoffset: 191.10877990722656px;
  }

  42.84%,
  100% {
    stroke-dashoffset: 191.10877990722656px;
  }
}
