/* #left-bar {
  animation: dumbellIcon1 42s ease-in-out infinite forwards;
}

#right-bar {
  animation: dumbellIcon1 42s ease-in-out infinite forwards;
} */

/* @keyframes tora1 {
  0% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }

  100% {
    d: path(
      "M113.25 71.971C113.25 81.5313 113.25 95.8982 113.25 95.8982L113.25 119.825C113.25 124.125 116.495 124.125 125.125 124.125C132.834 124.125 138.125 124.125 138.125 119.825V95.8982V71.971C138.125 67.875 133.491 67.6938 125.125 67.875C117.006 68.0509 113.25 67.875 113.25 71.971Z"
    );
  }
} */

/* @keyframes tora2 {
  0% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }

  100% {
    d: path(
      "M165.499 71.9936C165.499 81.5539 165.499 95.9208 165.499 95.9208L165.499 119.848C165.499 124.148 168.744 124.148 177.374 124.148C185.083 124.148 190.374 124.148 190.374 119.848V95.9208V71.9936C190.374 67.8976 185.74 67.7164 177.374 67.8976C169.255 68.0735 165.499 67.8976 165.499 71.9936Z"
    );
  }
} */

/* @keyframes dumbellIcon1 {
  0%,
  28.56% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }

  33.32% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }

  33.32%,
  38.08% {
    d: path(
      "M113.25 71.971C113.25 81.5313 113.25 95.8982 113.25 95.8982L113.25 119.825C113.25 124.125 116.495 124.125 125.125 124.125C132.834 124.125 138.125 124.125 138.125 119.825V95.8982V71.971C138.125 67.875 133.491 67.6938 125.125 67.875C117.006 68.0509 113.25 67.875 113.25 71.971Z"
    );
  }

  42.84% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }

  42.84%,
  100% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }
}

@keyframes dumbellIcon2 {
  0%,
  28.56% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }

  33.32% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }

  33.32%,
  38.08% {
    d: path(
      "M165.499 71.9936C165.499 81.5539 165.499 95.9208 165.499 95.9208L165.499 119.848C165.499 124.148 168.744 124.148 177.374 124.148C185.083 124.148 190.374 124.148 190.374 119.848V95.9208V71.9936C190.374 67.8976 185.74 67.7164 177.374 67.8976C169.255 68.0735 165.499 67.8976 165.499 71.9936Z"
    );
  }

  42.84% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }

  42.84%,
  100% {
    d: path(
      "M133.502 71.971C133.502 81.5313 133.502 95.8982 133.502 95.8982L133.502 119.825C133.502 127.057 141.414 133.453 150.044 133.453C157.752 133.453 167.373 127.318 167.373 119.825V95.8982V71.971C167.373 63.838 158.409 58.3699 150.044 58.5511C141.924 58.7269 133.503 64.0779 133.502 71.971Z"
    );
  }
} */

#line-top {
  /* stroke-dasharray: 25.29998779296875px;
    stroke-dashoffset: 25.29998779296875px; */
  transform-box: fill-box;
  transform-origin: center;
  animation: lineTopIn 42s ease-in-out infinite forwards;
}

@keyframes lineTopIn {
  0%,
  28.56% {
    transform: scaleX(0);
  }

  33.32% {
    transform: scaleX(1);
  }

  33.32%,
  38.08% {
    transform: scaleX(1);
  }

  42.84% {
    transform: scaleX(0);
  }

  42.84%,
  100% {
    transform: scaleX(0);
  }
}

#line-bottom {
  /* stroke-dasharray: 25.29998779296875px;
    stroke-dashoffset: 25.29998779296875px; */
  transform-box: fill-box;
  transform-origin: center;
  animation: lineBottomIn 42s ease-in-out infinite forwards;
}

@keyframes lineBottomIn {
  0%,
  28.56% {
    transform: scaleX(0);
  }

  33.32% {
    transform: scaleX(1);
  }

  33.32%,
  38.08% {
    transform: scaleX(1);
  }

  42.84% {
    transform: scaleX(0);
  }

  42.84%,
  100% {
    transform: scaleX(0);
  }
}

#left-bar {
  stroke-dasharray: 191.10877990722656px;
  stroke-dashoffset: 191.10877990722656px;
  animation: leftBarIn 42s ease-in-out infinite forwards;
}

@keyframes leftBarIn {
  0%,
  28.56% {
    stroke-dashoffset: 191.10877990722656px;
  }

  33.32% {
    stroke-dashoffset: 0px;
  }

  33.32%,
  38.08% {
    stroke-dashoffset: 0px;
  }

  42.84% {
    stroke-dashoffset: 191.10877990722656px;
  }

  42.84%,
  100% {
    stroke-dashoffset: 191.10877990722656px;
  }
}

#right-bar {
  stroke-dasharray: 191.10877990722656px;
  stroke-dashoffset: 191.10877990722656px;
  animation: rightBarIn 42s ease-in-out infinite forwards;
}

@keyframes rightBarIn {
  0%,
  28.56% {
    stroke-dashoffset: 191.10877990722656px;
  }

  33.32% {
    stroke-dashoffset: 0px;
  }

  33.32%,
  38.08% {
    stroke-dashoffset: 0px;
  }

  42.84% {
    stroke-dashoffset: 191.10877990722656px;
  }

  42.84%,
  100% {
    stroke-dashoffset: 191.10877990722656px;
  }
}

#right-dumbell {
  /* stroke-dasharray: 28.20791244506836px;
    stroke-dashoffset: 28.20791244506836px; */
  transform-box: fill-box;
  transform-origin: center;
  animation: rightDumbellIn 42s ease-in-out infinite forwards;
}

@keyframes rightDumbellIn {
  0%,
  28.56% {
    transform: scaleY(0);
  }

  33.32% {
    transform: scaleY(1);
  }

  33.32%,
  38.08% {
    transform: scaleY(1);
  }

  42.84% {
    transform: scaleY(0);
  }

  42.84%,
  100% {
    transform: scaleY(0);
  }
}

#left-dumbell {
  transform-box: fill-box;
  transform-origin: center;
  animation: leftDumbellIn 42s ease-in-out infinite forwards;
}

@keyframes leftDumbellIn {
  0%,
  28.56% {
    transform: scaleY(0);
  }

  33.32% {
    transform: scaleY(1);
  }

  33.32%,
  38.08% {
    transform: scaleY(1);
  }

  42.84% {
    transform: scaleY(0);
  }

  42.84%,
  100% {
    transform: scaleY(0);
  }
}
