#leaf {
  transform-origin: center bottom;
  transform-box: fill-box;
  opacity: 1;
  transform: scale(0);
  animation: leafIcon 42s ease-in-out infinite forwards;
}

@keyframes leafIcon {
  0%,
  57.12% {
    opacity: 1;
    transform: scale(0);
  }

  61.88% {
    opacity: 1;
    transform: scale(1);
  }

  61.88%,
  66.64% {
    opacity: 1;
    transform: scale(1);
  }

  71.4% {
    opacity: 0;
    transform: scale(1);
  }

  71.4%,
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
